body {
	background: linear-gradient(-45deg, #62302d, rgb(11, 32, 49), #461262, #362c2b46);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.change-color {
    transition: all 0.5s ease-in-out;
    color: white;
}

.change-color:hover {
    transition: all 0.5s ease-in-out;
    color: red;
}
