body {
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background: url('../Image/blob-scene-haikei.svg');
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.change-color {
	transition: all 0.5s ease-in-out;
	color: white;
}

.change-color:hover {
	transition: all 0.5s ease-in-out;
	color: red;
}

/* Movie Card Style */
.movie_card {
	position: relative;
	display: block;
	width: 82%;
	height: 380px;
	margin: 10px auto;
	overflow: hidden;
	border-radius: 10px;
	transition: all 0.4s;
	cursor: pointer;
}

.movie_header svg:hover {
	transition: ease-in-out 0.5s !important;
	color: red !important;
}

.movie_card:hover {
	transform: scale(1.02);
	transition: all 0.4s;
}

.movie_card .info_section {
	position: relative;
	width: 100%;
	height: 100%;
	background-blend-mode: multiply;
	z-index: 2;
	border-radius: 10px;
}

.movie_card .info_section .movie_header {
	position: relative;
	padding: 25px;
	height: 40%;
}

.movie_card .info_section .movie_header h1 {
	color: #fff;
	font-size: small;
}

.movie_card .info_section .movie_header h4 {
	color: #9ac7fa;
	font-size: smaller;
}

.movie_card .info_section .movie_header .minutes {
	display: inline-block;
	margin-top: 10px;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.13);
}

.movie_card .info_section .movie_header .type {
	display: inline-block;
	color: #cee4fd;
	margin-left: 10px;
}

.movie_card .info_section .movie_header .locandina {
	position: relative;
	float: left;
	margin-right: 20px;
	height: 120px;
	box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}

.movie_card .info_section .movie_desc {
	padding: 25px;
	height: 50%;
	text-align: justify;
	text-justify: inter-word;
}

.movie_card .info_section .movie_desc .text {
	color: #cfd6e1;
}

.movie_card .info_section .movie_social {
	height: 10%;
	padding-left: 15px;
	padding-bottom: 20px;
}

.movie_card .info_section .movie_social ul {
	list-style: none;
	padding: 0;
}

.movie_card .info_section .movie_social ul li {
	display: inline-block;
	color: rgba(255, 255, 255, 0.4);
	transition: color 0.3s;
	transition-delay: 0.15s;
	margin: 0 10px;
}

.movie_card .info_section .movie_social ul li:hover {
	transition: color 0.3s;
	color: rgba(255, 255, 255, 0.8);
}

.movie_card .info_section .movie_social ul li i {
	font-size: 19px;
	cursor: pointer;
}


.movie_card .blur_back {
	position: absolute;
	top: 0;
	z-index: 1;
	height: 100%;
	right: 0;
	background-size: cover;
	border-radius: 11px;
}

#image-poster {
	transition: ease-in-out 0.5s !important;
}

#image-poster:hover {
	transition: ease-in-out 0.5s !important;
	transform: scale(1.52);
}

/* .btn-group-vertical>.btn,
  .btn-group>.btn {
	position: relative !important;
	margin-top: 164px !important;
	flex: 1 1 auto !important;
  } */
.modal-backdrop {
	/* bug fix - no overlay */
	display: none !important;
}

@media screen and (min-width: 768px) {
	.movie_header {
		width: 60%;
	}

	.movie_desc {
		width: 50%;
		font-size: 15px;
		text-align: justify;
		text-justify: inter-word;
	}

	.info_section {
		background: linear-gradient(to right, #0d0d0c 38%, transparent 100%);
	}

	.blur_back {
		width: 80%;
		background-position: -100% 10% !important;
	}

	#card-text {
		font-size: 17px;
	}

	.modal-backdrop {
		/* bug fix - no overlay */
		display: none !important;
	}
}

@media screen and (max-width: 768px) {
	.movie_card {
		width: 95%;
		margin: 10px auto;
		min-height: 420px;
		height: auto;
		font-size: medium;
	}

	.h4 {
		font-size: medium;
	}

	.blur_back {
		width: 100%;
		background-position: 50% 50% !important;
	}

	.movie_header {
		width: 100%;
		margin-top: 85px;
	}

	.info_section {
		background: linear-gradient(to top, #141413 50%, transparent 100%);
		display: inline-grid;
		justify-content: center;
		align-items: start;
	}

	.btn-group {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		margin-bottom: 15px !important;
	}

	#card-text {
		font-size: 10px;
	}

	.modal-backdrop {
		/* bug fix - no overlay */
		display: none !important;
	}
}