{% extends 'base.html' %}
{% block title %} ➕/📝 {% endblock %}
{% block body %}

<!-- Form -->
<div class="container m-2">
    <form action="/" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Movie Title</label>
            <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Year</label>
            <input type="text" class="form-control" name="year" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Link</label>
            <input type="text" class="form-control" name="link" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-outline-primary">Add</button>
    </form>
</div>



<!-- Table -->

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
                <th scope="col">Link</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for mov in all_movies %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{mov.title}}</td>
                <td>{{mov.year}}</td>
                <td>{{mov.link[0:5]}}</td> 
                <td><a href="/update/{{mov.id}}" class="btn btn-outline-warning" role="button">Update</a></td>              
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}