{% extends 'base.html' %}
{% block title %} 🏠 {% endblock %}
{% block body %}

<div class="container mt-2">
  <div class="row">
    <!-- Movie Starts -->
    {% for mov in all_movies %}
    <div class="movie_card">
      <div class="info_section">
        <div class="movie_header">
          <img class="locandina" src="{{ mov.poster_link }}" />
          <h1>{{ mov.title }}</h1>
          <h4>{{ mov.year }}</h4>
          {% if mov.dual_audio == 1 %}
            <span class="iconify" data-icon="uil:letter-hindi-a" style="color: white;"></span>
            <span class="iconify" data-icon="icon-park-outline:english" style="color: white;"></span>
          {% else %}
            <span class="iconify" data-icon="icon-park-outline:english" style="color: white;"></span>
          {% endif %}
          {% if mov.quality == 1 and mov.dolby_audio == 1 %}
            <span class="iconify" data-icon="bi:badge-hd style=" color: white;""></span>
            <span class="iconify" data-icon="simple-icons:dolby" style="color: white;"></span>
          {% elif mov.quality == 1 and mov.dolby_audio == 0%}
            <span class="iconify" data-icon="bi:badge-hd" style="color: white;"></span>
            <span class="iconify" data-icon="cil:audio-description" style="color: white;"></span>
          {% elif mov.quality == 0 and mov.dolby_audio == 1 %}
            <span class="iconify" data-icon="bi:badge-sd" style="color: white;"></span>
            <span class="iconify" data-icon="simple-icons:dolby" style="color: white;"></span>
          {% else %}
            <span class="iconify" data-icon="bi:badge-sd" style="color: white;"></span>
            <span class="iconify" data-icon="cil:audio-description" style="color: white;"></span>
          {% endif %}
        </div>        
        <div id="{{ mov.id }}">
          <div class="btn-group-sm ms-3 mt-4" id="button-group-main" role="group" aria-label="Basic mixed styles example">
            <a href="/movie_screen/{{ mov.id }}" class="btn btn-outline-danger" role="button"><span class="iconify" data-icon="ant-design:play-circle-outlined" data-width="30" data-height="30"></span></a>
            <a href="{{ mov.link[:-1] + '1' }}" class="btn btn-outline-danger" role="button"><span
                class="iconify" data-icon="akar-icons:arrow-down" data-width="30" data-height="30"></span></a>
          </div>           
            <div class="card m-2 bg-dark text-white" id="card-text">
              <div class="card-body">
                {{ mov.movie_overview }}
              </div>
            </div>
                      
        </div>
      </div>
      <div class="blur_back" style="
          background: url('{{ mov.movie_backdrop_link }}');
          background-size: cover;
          box-shadow: 0px 0px 100px -45px rgba(255, 51, 0, 0.5);
          ">
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}