{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='Styles/Component/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='Styles/Component/form.css') }}">
{% endblock %}

{% block styled %}
<style>
  body {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background:url('../static/Image/stacked-peaks-haikei.svg');
  }

  @media screen and (max-width: 768px) {
    #small-image {
      width: 95%;
    }
  }
</style>
{% endblock %}

{% block title %} 👤 {% endblock %}
{% block body %}
<div class="container mt-2">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="signup-form">
        <div class="card mt-2 bg-dark" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ image_file }}" id="small-image"
                class="img-fluid mt-2 mx-2 border border-white border-3 rounded-circle" alt="User Profile Image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-danger">{{ current_user.username }}</h5>
                <p class="card-text text-muted">{{ current_user.email }}</p>
              </div>
            </div>
            <form action="" method="post" class="mt-2 rounded p-4 bg-dark shadow">
              {{ form.hidden_tag() }}
              <h4 class="m-1 fw-bold text-center text-white text-muted">Update Account Info</h4>
              <fieldset class="form-group">
                <div class="form-group m-1">
                  {% if form.username.errors %}
                  {{ form.username(class="is-invalid") }}
                  <span class="iconify input-icon" data-icon="bx:user-circle"></span>
                  <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.username(class="form-style") }}
                  <span class="iconify input-icon" data-icon="bx:user-circle"></span>
                  {% endif %}
                </div>
                <div class="form-group m-1">
                  {% if form.email.errors %}
                  {{ form.email(class="is-invalid") }}
                  <span class="iconify input-icon" data-icon="ic:outline-alternate-email"></span>
                  <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.email(class="form-style") }}
                  <span class="iconify input-icon" data-icon="ic:outline-alternate-email"></span>
                  {% endif %}
                </div>
                <div class="form-group m-1">
                  {{ form.user_avatar(class="form-style") }}
                  <span class="iconify input-icon" data-icon="pixelarticons:avatar"></span>
                </div>

                <div class="form-group d-grid m-1">
                  {{ form.submit(class="btn-mp btn-outline-success") }}
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}