{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}
{% block title %} 🧥 {% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="signup-form">
                <form action="" method="post" class="mt-2 rounded p-4 bg-light shadow">
                    {{ form.hidden_tag() }}
                    <h4 class="mb-3 fw-bold text-center">Become Admin!</h4>
                    <fieldset class="form-group">                        
                        <div class="form-group">
                            {{ form.email(class="form-style") }}
                            <span class="iconify input-icon" data-icon="ic:outline-alternate-email"></span>                        
                        </div>
                        <div class="form-group d-grid mt-2">
                            {{ form.submit(class="btn btn-outline-success") }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}