{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="../static/Styles/Component/button.css">
<link rel="stylesheet" href="../static/Styles/Component/form.css">
{% endblock %}
{% block styled %}
<style>
  body {
    background-image: url('../static/Image/stacked-peaks-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 100vh;
  }
</style>
{% endblock %}
{% block title %} 👥 {% endblock %}
{% block body %}
<div class="container">
    <div class="row m-3">
        <div class="col-md-6 offset-md-3">
            <div class="signup-form">
                <form action="" method="post" class="mt-2 rounded p-4 bg-light shadow">
                    {{ form.hidden_tag() }}
                    <h4 class="m-1 fw-bold text-center">Login</h4>
                    <fieldset class="form-group">                        
                        <div class="form-group mt-2">   
                            {{ form.username(class="form-style") }}            
                            <span class="iconify input-icon" data-icon="bx:user-circle"></span>
                        </div>

                        <div class="form-group mt-2">   
                            {{ form.password(class="form-style") }}            
                            <span class="iconify input-icon" data-icon="bi:key"></span>
                        </div>

                        <div class="form-group d-grid mt-2">
                            {{ form.submit(class="btn-mp btn-outline-success") }}
                        </div>
                    </fieldset>
                </form>
                <p class="text-center text-muted mt-3 text-secondary">If you do not have account, Please <a
                        href="{{ url_for('register') }}">Register Now</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}