{% extends 'base.html' %}
{% block styles %} 
<!-- Video JS CSS -->
<link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet" />
<link rel="stylesheet" href="../static/Styles/Component/form.css">
{% endblock %}
{% block title %} 🎬 {% endblock %}
{% block body %}
<video id="my-video" class="video-js vjs-fluid" autoplay controls preload="auto" width="auto" height="auto"
    poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source src="../static/Video/intro.webm" type="video/mp4" />
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
            video</a>
    </p>
</video>
<a href="{{ url_for('home') }}" class="btn btn-outline-danger d-flex m-1 fw-bold text-center" role="button">
   Go Back Home
</a>
<script>
    const video = document.querySelector('video');
    const ele = document.getElementsByClassName('navbar');
    video.addEventListener('ended', () => {
        video.setAttribute('src', '{{ movie.link[:-4] + "raw=1" }}')
        ele[0].style.display = 'none';
    })
</script>
{% endblock %}