<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ManFlix</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" id="video-icon" href="{{ url_for('home') }}"><span class="iconify"
                            data-icon="akar-icons:video" data-width="30" data-height="30"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="admin-icon" aria-current="page" href="{{ url_for('add_movies') }}"><span
                            class="iconify" data-icon="carbon:add-alt" data-width="30" data-height="30"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="db-icon" aria-current="page" href="{{ url_for('movie_database') }}"><span
                            class="iconify" data-icon="codicon:database" data-width="30" data-height="30"></span></a>
                </li>
                <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->
                <!-- <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li> -->
            </ul>
            <form class="d-flex" method="post" action="{{ url_for('search_movies') }}">
                <input class="form-control me-2" type="search" name="searched" placeholder="Search" aria-label="Search">
                <button class="btn-sm btn-outline-success" type="submit"><span class="iconify"
                        data-icon="bi:search"></span></button>
            </form>
        </div>
    </div>
</nav>
<!-- Nav Ends -->