{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}
{% block title %} 👥 {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="signup-form form-group">
                <form action="" method="post" class="mt-2 rounded p-4 bg-light shadow">
                    {{ form.hidden_tag() }}
                    <h4 class="m-1 fw-bold text-center">Sign Up</h4>
                    <fieldset class="form-group">
                        <div class="form-group m-1">
                            {% if form.username.errors %}
                            {{ form.username(class="is-invalid") }}
                            <span class="iconify input-icon" data-icon="bx:user-circle"></span>
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-style") }}
                            <span class="iconify input-icon" data-icon="bx:user-circle"></span>
                            {% endif %}
                        </div>
                        <div class="form-group m-1">
                            {% if form.email.errors %}
                            {{ form.email(class="is-invalid") }}
                            <span class="iconify input-icon" data-icon="ic:outline-alternate-email"></span>
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-style") }}
                            <span class="iconify input-icon" data-icon="ic:outline-alternate-email"></span>
                            {% endif %}
                        </div>
                        <div class="form-group m-1">
                            {% if form.password.errors %}
                            {{ form.password(class="is-invalid") }}
                            <span class="iconify input-icon" data-icon="bi:key"></span>
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.password(class="form-style") }}
                            <span class="iconify input-icon" data-icon="bi:key"></span>
                            {% endif %}
                        </div>
                        <div class="form-group m-1">
                            {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="is-invalid") }}
                            <span class="iconify input-icon" data-icon="bi:key"></span>
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.confirm_password(class="form-style") }}
                            <span class="iconify input-icon" data-icon="bi:key-fill"></span>
                            {% endif %}
                        </div>
                        <div class="form-group m-1">
                            {{ form.user_avatar(class="form-style") }} 
                            <span class="iconify input-icon" data-icon="pixelarticons:avatar"></span>                           
                        </div>                        
                        <div class="form-group d-grid mt-1">
                            {{ form.submit(class="btn-mp btn-outline-success") }}
                        </div>
                    </fieldset>
                </form>
                <p class="text-center text-muted mt-3 text-secondary">If you have account, Please <a
                        href="{{ url_for('login') }}">Login Now</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}