{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}
{% block title %} Update {% endblock %}
{% block body %}
<!-- Form -->
<div class="container m-2">
    <form action="/update/{{movie.id}}" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Movie Title</label>
            <input type="text" class="form-control" name="title" value="{{movie.title}}" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Year</label>
            <input type="text" class="form-control" name="year" value="{{movie.year}}" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Link</label>
            <input type="text" class="form-control" name="link" value="{{movie.link}}" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">TMDB Movie ID</label>
            <input type="text" required class="form-control" name="movie_id_tmd" value="{{movie.movie_id_tmd}} id="exampleInputPassword1">
        </div>      
        <button type="submit" class="btn btn-outline-warning">Update</button>
    </form>
</div>

{% endblock %}