{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="../static/Styles/Component/button.css">
<link rel="stylesheet" href="../static/Styles/Component/form.css">
{% endblock %}
{% block title %} 📝 {% endblock %}
{% block body %}
<!-- Form -->
<div class="container">
    <form action="/update/{{movie.id}}" method="post">
        {{ form1.hidden_tag() }}
        <fieldset class="form-group mt-2">
            <!-- Link -->
            <div class="form-group mt-2">                
                {{ form1.link(class="form-style") }}
                <span class="iconify input-icon" data-icon="ant-design:link-outlined"></span>
            </div>
            <!-- Movie ID -->
            <div class="form-group mt-2">
                {{ form1.movie_id_tmd(class="form-style") }}
                <span class="iconify input-icon" data-icon="emojione-monotone:id-button"></span>
            </div>
            <!-- Quality -->
            <div class="form-group mt-2">
                {{ form1.quality(class="form-check-input") }}
                <span class="iconify" data-icon="bi:badge-hd"></span>
            </div>
            <!-- Dolby Audio -->
            <div class="form-group mt-2">
                {{ form1.dolby_audio(class="form-check-input") }}
                <span class="iconify" data-icon="simple-icons:dolby"></span>
            </div>
            <!-- Dual Audio -->
            <div class="form-group mt-2">
                {{ form1.dual_audio(class="form-check-input") }}
                <span class="iconify" data-icon="uil:letter-hindi-a"></span>
                <span class="iconify" data-icon="icon-park-outline:english"></span>
            </div>
            <!-- Submit -->
            <div class="form-group mt-2">
                {{ form1.submit(class="btn-mp btn-outline-success") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}