{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static',filename='Styles/Component/button.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='Styles/Component/form.css') }}">
{% endblock %}
{% block title %} 👥 {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="signup-form form-group">
                <form action="" method="post" class="mt-2 rounded p-4 bg-light shadow">
                    {{ form2.hidden_tag() }}
                    <h4 class="mt-1 fw-bold text-center">Enter OTP</h4>
                    <fieldset class="form-group">
                        <div class="form-group m-1">                            
                            {{ form2.otp(class="form-style") }}
                            <span class="iconify input-icon" data-icon="teenyicons:otp-outline"></span>
                        </div>                   
                        <div class="form-group d-grid mt-2">
                            {{ form2.submit(class="btn-mp btn-outline-success") }}
                        </div>
                    </fieldset>
                </form>
                <p class="text-center text-muted mt-3 text-secondary">If you do not have account, Please <a href="{{ url_for('register') }}">Register Now</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}